<div class="row">
  <div ng-repeat="item in productList" class="col s3">
    <div class="thumbnail">
      <img ng-src="{{ item.thumbnail }}">
      <p class="title">{{ item.name }}</p>
      <p class="price">{{ item.price | currency }}</p>
      <p class="date">{{ item.pubdate | date }}</p>
      <div class="rating">
        <p class="likes" ng-click="toggleLike($index)">+ {{ item.likes }}</p>
        <p class="dislikes" ng-click="toggleDislike($index)"> {{ item.dislikes }}</p>
      </div>
    </div>
  </div>
</div>
