<!doctype html>
<html lang="en" ng-app="myApp" class="ng-scope">
  <head>
    <title>The Pink Tree</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'/>

    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js'></script>
    <script src="https://code.angularjs.org/1.6.4/angular-route.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controller.js"></script>
  </head>
  <body ng-app="insertModule">
    <div class="main">
      <div class="container">
        <nav>
          <div class="nav-wrapper">
            <a href="#" class="brand-logo center"></a>
            <a href="#" class="brand-logo center"><img src="img/tree.png" height="50" width="50"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="">Login</a></li>
              <li><a href="">Likes</a></li>
            </ul>
          </div>
        </nav>
        <div class="main" ng-view></div>
      </div>
    </div>
  </body>
</html>

<!-- <div class="row">
  <div ng-repeat="product in products" class="col s3">
    <div class="thumbnail">
      <img ng-src="{{ product.thumbnail }}">
      <p class="title">{{ product.name }}</p>
      <p class="price">{{ product.price | currency }}</p>
      <p class="date">{{ product.pubdate | date }}</p>
      <div class="rating">
        <p class="likes" ng-click="plusOne($index)">+ {{ product.likes }}</p>
        <p class="dislikes" ng-click="minusOne($index)">- {{ product.dislikes }}</p>
      </div>
    </div>
  </div>
</div> -->
